html, body {
	padding: 0;
	margin: 0;
	background-image: url(../img/grass.jpg);
	/*background-size: 100%;*/
}

#controlPanel {
	float: right;
	border: 1px;
	margin-top: 40px;
	width: 300px;
	height: 300px;
	text-align: center;
}

h2 {
	font-size: 38px;
	color: #fff;
}

button {
	font-size: 22px;
	width: 120px;
	color: #fff;
	font-size: bold;
	background-color: red;
	border-radius: 50%;
	/*border-right: 4px solid #aaa;
	border-bottom: 4px solid #aaa;
	border-top: 2px solid #666;
	border-left: px solid #888;*/
}

#stop {
	display: none;
}

#container {
	border: 1px solid yellow;
	width: 622px;
	height: 622px;
	margin-left: auto;
	margin-right: auto;
	padding: 2.5px;
}

.hole {
	border: 1px solid black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 2.5px;
	float: left;
	background-color: #1C0C02;
	background-image: url(../img/dirt.jpg)
}

.mole {
	display: none;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	float: left;
}